flows.json
[{"id":"37405673.d44dca","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"5f10a3c1.fbe99c","type":"ui_form","z":"37405673.d44dca","name":"","label":"","group":"61eac939.14c528","order":1,"width":0,"height":0,"options":[{"label":"Cement","value":"cm","type":"number","required":true,"rows":null},{"label":"Blast Furnace Slag","value":"bfs","type":"number","required":true,"rows":null},{"label":"Fly Ash","value":"fa","type":"number","required":true,"rows":null},{"label":"Water","value":"wa","type":"number","required":true,"rows":null},{"label":"Super Plasticizer","value":"sp","type":"number","required":true,"rows":null},{"label":"Coarse Aggregate","value":"ca","type":"number","required":true,"rows":null},{"label":"Fine Aggregate","value":"fi","type":"number","required":true,"rows":null},{"label":"Age","value":"ag","type":"number","required":true,"rows":null}],"formValue":{"cm":"","bfs":"","fa":"","wa":"","sp":"","ca":"","fi":"","ag":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":420,"wires":[["f0e16cd3.1b7758"]]},{"id":"f0e16cd3.1b7758","type":"function","z":"37405673.d44dca","name":"PreToken","func":"global.set(\"cm\",msg.payload.cm)\nglobal.set(\"bfs\",msg.payload.bfs)\nglobal.set(\"fa\",msg.payload.fa)\nglobal.set(\"wa\",msg.payload.wa)\nglobal.set(\"sp\",msg.payload.sp)\nglobal.set(\"ca\",msg.payload.ca)\nglobal.set(\"fi\",msg.payload.fi)\nglobal.set(\"ag\",msg.payload.ag)\nvar apikey=\"dhpM5g9Ui7XWLoKNIa7ydZg-ZFIoiUgU1oN6jwr1mU4z\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":239,"y":397.0000047683716,"wires":[["70d51148.8b998"]]},{"id":"70d51148.8b998","type":"http request","z":"37405673.d44dca","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":438,"y":386,"wires":[["b2159df7.84d27"]]},{"id":"f6f2e720.1404d","type":"debug","z":"37405673.d44dca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":140,"wires":[]},{"id":"b2159df7.84d27","type":"function","z":"37405673.d44dca","name":"Pre Prediction","func":"var cm = global.get('cm')\nvar bfs = global.get('bfs')\nvar fa = global.get('fa')\nvar wa = global.get('wa')\nvar sp=global.get('sp')\nvar ca=global.get('ca')\nvar fi=global.get('fi')\nvar ag=global.get('ag')\nvar token=msg.payload.access_token\nvar instance_id=\"5386d13b-5a29-4848-881a-684fc89cec50\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Cement (component 1)(kg in a m^3 mixture)\", \"Blast Furnace Slag (component 2)(kg in a m^3 mixture)\", \"Fly Ash (component 3)(kg in a m^3 mixture)\", \"Water  (component 4)(kg in a m^3 mixture)\", \"Superplasticizer (component 5)(kg in a m^3 mixture)\", \"Coarse Aggregate  (component 6)(kg in a m^3 mixture)\", \"Fine Aggregate (component 7)(kg in a m^3 mixture)\", \"Age (day)\"],\"values\": [[cm,bfs,fa,wa,sp,ca,fi,ag]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":635.0000076293945,"y":349.00000381469727,"wires":[["4cfaf6d7.6d2eb"]]},{"id":"4cfaf6d7.6d2eb","type":"http request","z":"37405673.d44dca","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/8e7b461c-2e06-454b-a65e-2e442775df76/predictions","tls":"","persist":false,"proxy":"","authType":"","x":769,"y":277.0000047683716,"wires":[["246923bf.9b8534","f6f2e720.1404d","39ce2dc9.175e9a"]]},{"id":"546774b1.52be34","type":"ui_text","z":"37405673.d44dca","group":"61eac939.14c528","order":2,"width":0,"height":0,"name":"","label":"Concrete Compressive Strength","format":"{{msg.payload}}","layout":"row-spread","x":836.6000366210938,"y":445.20001220703125,"wires":[]},{"id":"246923bf.9b8534","type":"function","z":"37405673.d44dca","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":588.6000366210938,"y":188.60000610351562,"wires":[["546774b1.52be34"]]},{"id":"39ce2dc9.175e9a","type":"debug","z":"37405673.d44dca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":380,"wires":[]},{"id":"61eac939.14c528","type":"ui_group","z":"","name":"Default","tab":"fa0da2a8.5b556","order":1,"disp":true,"width":"6","collapse":false},{"id":"fa0da2a8.5b556","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]